#content {
background-color:lemonchiffon; 
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  width: 75%;
}

body{
    background-color: lavender
}

#greeting-container {
  margin-top: 20px;
  margin-bottom: 20px
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  margin: 5px;
  max-height: 400px;
  max-width: 500px;
}
